/*body{
 background-color: #151515;
 font-family: 'Cutive Mono', monospace;
 font-size: 15px;
 color: white;
	text-shadow: 0 0 4px #14B51B;
	&:after{ /* the video interlace effect I loved and didn't mind to delete */
		background:linear-gradient(0deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.2) 80%);
		background-size: 5px 3px;
		display: block;
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
} */
.wrapper {
        //display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh;
        align-items: center;
        justify-items: center;
		margin-left:20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 200px 300px;
        grid-template-rows: 1fr 150px 1fr 1fr 1fr;
        grid-row-gap: 10px;
        grid-template-areas: "patient-info date""sketch-holder sketch-holder""bpm minute-ventilation""temperature hb-levels""pressure other";
    }

    .patient-info {
        grid-area: patient-info;
    }

    .text-right {
        text-align: right;
    }

    .date {
        grid-area: date;
    }

    .sketch-holder {
        grid-area: sketch-holder;
    }

    .bpm {
        grid-area: bpm;
    }

.innercontent{
margin-left:10%;
margin-right:10%;
background-color: #002242;
margin-bottom:0px;
padding:5px;
color:white;

}
.dummy{
margin-left:20px;
width:300px;
}

.outercontent{
color:white;
text-spacing:1px;
	margin-top:0px;
	margin:0px 0px 0px 0px;
	background-color:#001a33;
}

.myfooter{
	background-color:#1a1a00;
	color:white;
}


@media only screen and (max-width:700px){
	.innercontent{
		margin-left:0px;
		margin-right:0px;
	}
	.regform{
		margin-left:0px;
		margin-right:0px;
	}
     .wrapper{
	 max-width:100%;
	 }
}
.regform{
  padding: 100px;
}

label{
 font-family: sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: .8em;
  color: white;
}

input[type=text]{
  display: inline-block;
  border: none;
  text-align: left;
  box-shadow: 3px 2px rgba(121, 83, 210,.3 );
  padding: 10px;
  width: 350px;
  margin: 10px 0;
  background: transparent;
  color: #FFF;
}

input[type=text]:focus{
  background: none;
  border: none;
  color: #FFF;
}

button{
  background: transparent;
  color: #FFF;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid #000;
}

button:hover{
  background: transparent;
  border: 2px solid white;
  color:white;
}