.innercontent{
margin-left:10%;
margin-right:10%;
background-color: #002242;

margin-bottom:0px;
padding:5px;
color:white;

}

.outercontent{
	margin-top:0px;
	margin:0px 0px 0px 0px;
	background-color:#001a33;
}

.myfooter{
	background-color:#1a1a00;
	color:white;
}


@media only screen and (max-width:700px){
	.innercontent{
		margin-left:0px;
		margin-right:0px;
	}
	.regform{
		margin-left:0px;
		margin-right:0px;
	}

}
.regform{
  padding: 100px;
}

label{
 font-family: sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: .8em;
  color: white;
}

input[type=text]{
  display: inline-block;
  border: none;
  text-align: left;
  box-shadow: 3px 2px rgba(121, 83, 210,.3 );
  padding: 10px;
  width: 350px;
  margin: 10px 0;
  background: transparent;
  color: #FFF;
}

input[type=text]:focus{
  background: none;
  border: none;
  color: #FFF;
}

button{
  background: transparent;
  color: #FFF;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid #000;
}

button:hover{
  background: transparent;
  border: 2px solid white;
  color:white;
}
